/* CSS Document */
@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
	font-family: 思源黑体 !important;
}
html,body {
width: 100%;
}
body{
	margin:0px;
	padding:0px;
    width: 100%;!important;
    height: 1107.5px;
	background: #8473A4;
}
#head{
    background-color: rgba(0, 0, 0, 0.5);
    position:relative;
    color:azure;
    margin-left: 0;
    margin-top: -1% !important;
    width: 1660px;
    overflow:visible;
    /*height: 30%;  /*300px */
    transition:all 0.5s ease-in-out;  /*设置过渡效果*/
}
#header{
    z-index:100 !important;
    /*position:fixed;*/
    position:relative;
    margin-top:0%;
    font-size: 12pt;
    float: left;
    height:8%;   /*72px*/
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#header:hover{
    background-color: rgb(136, 51, 255) !important;
}
#logo{
    cursor: pointer;
    margin-top: 0.5%;
    float: left;
    width: 8%;
    height: 50%;
    margin-left: 4%;
}
.menu{
    /*position: relative;*/
    width:100%;
    margin-top: 1%;
    list-style: none;
    margin-left: 15%;
    /*height:50%;*/
    position: absolute;
}
.menu li{
    float: left;
    margin-right: 4%;
}
#head{
	margin-top: 0;
	margin-left: 0;
    margin-right: 0;
	height: 60px;
	width: 1660px;
	/*background:#9476A4;	*/
}
.w-nav{
	margin: 0;
    padding: 0;
    float: left;
	margin-left: 15px;
	margin-top: 25px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.item {
	padding: 0;
    position: relative;
    float: left;
    list-style: none;
    height: 70px;
    line-height: 70px;
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background: -webkit-linear-gradient(none, none);
    background: -moz-linear-gradient(none, none);
    background: -ms-linear-gradient(none, none);
    background: linear-gradient(none, none);
    background-size: auto;
    padding: 0 20px 0 20px;
    margin: 0;
    position: relative;
    height: 100%;
    height: 100%;
    line-height: inherit;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.w-nav-item-link{
	text-decoration:none;
}
.w-nav-item-link:hover{
	color:#ffffff;
	
}
.w-link-txt{
    text-decoration: none;
    text-align: center;
}
.w-link-txt b{
	color:#4b0082;
}
.w-link-txt b:hover{
	color:#ffffff;
}
 .logo{
	width:2.5%;
	margin-left: 45px;
	margin-top:15px;
	float:left;
}
.tasks{
    width:1660px;
    height:362px;
}
.txt{
    float:left;
}

.add-new img{
    cursor: pointer;
    width:35px;
    height:35px;
    margin-left: 312px;
    margin-top:-24px;
}
.add-new img:hover {
    background-color: #E2D474; /* 鼠标悬停时的背景色 */
}
.new-task{
   border: 2px solid #ffffff;
	border-radius: 10px;
	margin-top: 20px;
	height:100px;
	margin-left: 12px;
	width:160px;
    opacity: 0.5;
	background: #ffffff;
    float:left;
}
.task-txt{
    color:#123456;
}
.date{
    color:#898989;
    margin-top: 52px;
    margin-left: 6px;
    float:left;
    font-size: 10px;
}
.checkbox{
    width: 16px;
    height:16px;
    margin-top: 48px;
    margin-left: 26px;
    float:left;
    color:#8473A4;
    border-width: 2px;
    border: 4px solid #ffffff;
    border-radius: 20px;
}
input[type="checkbox"]:before {
    content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 3px solid #ccc;
border-radius: 5px;
  margin-right: -2px;
    margin-bottom: 2px;
  /*vertical-align: middle;*/
}
input[type="checkbox"]:checked:before {
  content: "\2713";
    font-size: 18px;
  background: #fff;
    width: 16px;
  border: 3px solid #ccc;
  text-align: center;
  line-height: 22px;
    margin-bottom: 2px;
}

.user{
	margin-top: 60;
	margin-left: 0;
    margin-right: 0; 
	height: 260px;
	width: 1660px;
	background-image:url("../img/background.png");	
	background-size:cover;
}
.user-data{
 	height:230px;
	margin-top:2px;
	margin-left:2px;
}
.rounded-border {

border: 1px solid #8473A4;

border-radius: 10px;
	margin-top: 12px;
	height:232px;
	margin-left: 570px;
	position:absolute; 
	width:340px;
	background: #8473A4;
	
}
.user-data img{
	border-radius: 50%;
	width:18%;
	float:left;
	margin-left:12px;
	margin-top:60px;
}
.user-name{
	margin-top:12px;
	margin-left:30px;
	float:left;
	color:#ffffff;
	line-height:1;
}
.user-level{
	margin-top:30px;
	margin-left:-128px;
	float:left;
	font-size:13px;
	color:#ffffff;
}
.user-life{
	margin-top:50px;
	margin-left:-155px;
	float:left;
	color:#ffffff;
	line-height:5;
}
.user-grade{
	margin-top:80px;
	margin-left:-155px;
	float:left;
	color:#ffffff;
	line-height:5;
}
.habit{
	border: 2px solid #ffffff;
	border-radius: 10px;
	margin-top: 12px;
	height:332px;
	margin-left: 20px;
	position:absolute; 
	width:360px;
	background: transparent;
}
.txt{
	color:#ffffff;
	font-size:22px;
	margin-left:12px;
	margin-top:5px;
}
.daily{
	border: 2px solid #ffffff;
	border-radius: 10px;
	margin-top: 12px;
	height:332px;
	margin-left: 410px;
	position:absolute; 
	width:360px;
	background: transparent;
}
.to-do{
	border: 2px solid #ffffff;
	border-radius: 10px;
	margin-top: 12px;
	height:332px;
	margin-left: 800px;
	position:absolute; 
	width:360px;
	background: transparent;
}

.reward{
	border: 2px solid #ffffff;
	border-radius: 10px;
	margin-top: 12px;
	height:332px;
	margin-left: 1190px;
	position:absolute; 
	width:360px;
	background: transparent;
}
.partners{
    height:380px;
}
.title{
    color:#ffffff;
}
.partner-1 img{
    height:330px;
    width:330px;
    float:left;
    margin-left: 42px;
    margin-top: 12px;
}
.partner-2 img{
    margin-top: 39px;
    width:350px;
    height:300px;
    float:left;
    margin-left: 12px;
}
.haogandu{
    float:left;
    margin-left: 268px;
    color:#ffffff;
}
.haogandu-1{
    float:left;
    margin-left: 168px;
    color:#ffffff;
}
.add-habit{
    background: transparent;
}
.add-frame{
    border: 1px solid transparent;
border-radius: 10px;
    background: #B9B0FF;
	margin-top: -24px;
	height:40px;
	margin-left: 78px;
	width:240px;
/*    opacity: 0.9;*/
/*	background: #ffffff;*/
    float:left;
}
.add-frame input{
    background: transparent;
}
dialog {
    border: 1px solid #ffffff;
    border-radius: 20px;
    display: none;
    position: absolute;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    background: #ffffff;
    color: canvastext;
    margin: auto auto; 
    width: 95%;
    height: 70%;
    margin-top: 5%;
    margin-left: 10px;
    opacity: 100%;
    z-index:1;
}
dialog[open] {
    display: block;
/*    display: none;*/
}
.input{
    margin-top: 8px;
    font-size: 18px;
    align-content: center;
    border-bottom-color: transparent;
    text-align: center;
  line-height: 22px;
/*    display: none;*/
    border: none;
    outline:medium;
    color:#000000;
    background:#786796;
    opacity: 0.9;
}
.input::-webkit-input-placeholder {
    color: #8A81C6; 
    opacity: 0.9;
} 

.add-new-habit {

border: 1px solid #786796;

border-radius: 15px;
	margin-top: 170px;
	margin-left: 150px;
	position:absolute; 
	width:80px;
	height:35px;
	background-color:#B899E7;
    -webkit-tap-highlight-color: transparent;
}
.add-button{
    background-color:transparent;
}
.add-new-habit:hover{
    background:#786796;
}
.add-button b{
    color: white;
    text-align: center;
    line-height: 36px;
}
/*.add-new-habit{-webkit-tap-highlight-color: transparent;}*/
/*
.add-new-habit h3:hover{
    color:#786796;
    background-color:#786796;
}*/
.dialog-0[open] {
    /*display: block;*/
    display: none;
}
.add-1{
    background: transparent;
}
.dialog-1{
        border: 1px solid transparent;
border-radius: 10px;
    background: #B9B0FF;
	margin-top: -24px;
	height:40px;
	margin-left: 78px;
	width:240px;
/*    opacity: 0.9;*/
/*	background: #ffffff;*/
    float:left;
    border: 1px solid #ffffff;
    border-radius: 20px;
    display: none;
    position: absolute;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    background: #ffffff;
    color: canvastext;
    margin: auto auto;
    width: 95%;
    height: 70%;
    margin-top: 5%;
    margin-left: 10px;
    opacity: 100%;
    z-index:1;
}
.add-2{
    background: transparent;
}
.dialog-2{
        border: 1px solid transparent;
border-radius: 10px;
    background: #B9B0FF;
	margin-top: -24px;
	height:40px;
	margin-left: 78px;
	width:240px;
/*    opacity: 0.9;*/
/*	background: #ffffff;*/
    float:left;
    border: 1px solid #ffffff;
    border-radius: 20px;
    display: none;
    position: absolute;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    background: #ffffff;
    color: canvastext;
    margin: auto auto;
    width: 95%;
    height: 70%;
    margin-top: 5%;
    margin-left: 10px;
    opacity: 100%;
    z-index:1;
}
#add-habit-1,#button-unsee{
    visibility:hidden;
}
.header-1{
    width: 1660px;!important;
}
.head-1{
    width: 1660px;!important;
}

#head{
    background-color: rgba(0, 0, 0, 0.5);
    position:relative;
    color:azure;
    margin-left: 0;
    margin-top: -1% !important;
    width: 100%;
    overflow:visible;
    /*height: 30%;  /*300px */
    transition:all 0.5s ease-in-out;  /*设置过渡效果*/
}
#header{
    z-index:100 !important;
    /*position:fixed;*/
    position:relative;
    margin-top:0%;
    font-size: 12pt;
    float: left;
    height:8%;   /*72px*/
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#header:hover{
    background-color: rgb(136, 51, 255) !important;
}
#logo{
    cursor: pointer;
    margin-top: 0.5%;
    float: left;
    width: 8%;
    height: 50%;
    margin-left: 4%;
}
.menu{
    /*position: relative;*/
    width:100%;
    margin-top: 1%;
    list-style: none;
    margin-left: 15%;
    /*height:50%;*/
    position: absolute;
}
.menu li{
    float: left;
    margin-right: 4%;
}
.first{
    height:auto;
    z-index:100 !important;
}
.first:hover .secondmenu{
    display:block;
}
.secondmenu{
    position: relative;
    z-index:105 !important;
    margin-top: 18%;
    /*margin-left:-45px;
    margin-right:-50px;*/
    width:100%;
    line-height: 200%;
    height:auto;
    background-color: rgba(0, 0, 0, 0.5);
    list-style: none;
    display: none;
}
.secondmenu:hover{
    background-color: rgb(0, 0, 0) !important;
    z-index:100 !important;
}
.secondmenu li{
    text-align: center;
    float:none;
    color: aliceblue;
    font-size: 12pt;
    cursor: pointer;
}
.secondmenu .li1::after{
    content:'';
    width:85%;
    display:block;
    height:9.5px;
    margin:auto auto;
    /*padding-bottom: 9.5px;         /*设置下划线和字之间的距离*/
    border-bottom: 2px solid aliceblue ;  /*自定义下划线粗细，颜色*/
}
.secondmenu li:hover{
    color:#e0a611 !important;
}
.li2{
    margin: 0;
    letter-spacing: 2pt;
}
.mylink{
    color:#fff;
}
.mylink:link{
    color: aliceblue !important;
    font-size:12pt;
    text-decoration:none;
}
/*.mylink:visited{*/
/*    color:#e0a611 !important; */
/*}*/
.mylink:hover{
    color:#e0a611 !important;
}